<div style="text-align : center; padding-top : 30px; padding-bottom: 30px; letter-spacing: 3px; font-family: Arial ;background : #0004">
    <h2><%= @query %> </h2>
</div>
<div style = "font-size: 0.7rem;line-height: 1.5;margin : 10px">
    <% @tweets.each do |tweet|%>
    <p ><%= tweet.full_text %></p>
    <% end %>
</div>